<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Registration - Your Application</title>

    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="static/img/logo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Buat Akun</h3>
                            <h4>Lanjutkan di bagian terakhir Anda mengisi</h4>
                        </div>

                        <!-- Flash messages for feedback -->
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alerts">
                                {% for message in messages %}
                                    <div class="alert alert-info">{{ message }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        <form action="{{ url_for('user_routes.signup') }}" method="post">
                            <div class="form-login">
                                <label for="username">Username</label>
                                <div class="form-addons">
                                    <input type="text" name="username" placeholder="Masukkan username" required>
                                    <img src="static/img/icons/users1.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <label for="email">Email</label>
                                <div class="form-addons">
                                    <input type="email" name="email" placeholder="Masukkan alamat email" required>
                                    <img src="static/img/icons/mail.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <label for="password">Password</label>
                                <div class="pass-group">
                                    <input type="password" name="password" class="pass-input" placeholder="Masukkan password" required>
                                    <span class="fas toggle-password fa-eye-slash"></span>
                                </div>
                            </div>
                            <div class="form-login">
                                <button type="submit" class="btn btn-login">Sign Up</button>
                            </div>
                        </form>
                        
                        <div class="signinform text-center">
                            <h4>Sudah punya akun? <a href="{{ url_for('user_routes.signin') }}" class="hover-a">Sign In</a></h4>
                        </div>
                        <div class="form-setlogin">
                            <h4>Atau Sign In menggunakan</h4>
                        </div>
                        <div class="form-sociallink">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="static/img/icons/google.png" class="me-2" alt="google">
                                        Sign In menggunakan Google
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="static/img/icons/facebook.png" class="me-2" alt="google">
                                        Sign In menggunakan Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="static/img/login.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/feather.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>
